<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="start.up.tracker">

    <application
        android:name=".MVVMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TrackerTheme">
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.AnalyticsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.CategoryActivity"
            android:exported="true" />
        <activity android:name=".ui.AddTaskActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>